<div class="cmt-one">\
  <div class="cmt-meta">\
    <span class="cmt-author"><%=comment.email%></span>\
    <span class="cmt-time"><%=l comment.created_at%></span>\
  </div>\
  <div class="cmt-content"><%=comment.content%></div>\
</div>\